:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#display {
  display: flex;
  height: 100px;
  border: solid;
}

#display > div {
  width: 100%;
  background-color: black;
}

#real-time {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: .3s ease-in;
  background-color: white;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, .3);
}

#real-time::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: attr(data-height px, 175px);
  height: attr(data-height px, 175px);
  transition: .3s ease-in;
  border-radius: 50%;
  background-color: lightblue;
}

.real-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 300px;
  transition-delay: 1s;
  transition: 1s;
  border-radius: 24px;
}

.silent::after {
  height: 175px;
  width: 175px;
}

.silent::after,
.real-time-container:has(.silent) {
  background-color: brown !important;
}

.talking::after,
.real-time-container:has(.talking) {
  background-color: darkkhaki !important;
}

#db-meter {
  display: flex;
  justify-content: space-around;
}

.input-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: .5rem;
}

.input-container > div {
  text-align: end;
}