@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
  font-family: "Jersey 10", sans-serif;
  letter-spacing: .05em;
  --circle-size: 160px;
  --inner-circle-size: calc(var(--circle-size) * 0.875);
  --bg-display: darkkhaki;
  --text-color: #636859;
  --bg: salmon;
  --darkred: #812e2e;
  --midred: #EB675C;
  --lightred: #ffb5ac;
}

body {
  margin: 8px;
  background-color: rgb(60, 60, 60);
}

body:has(select:open) {
  filter: saturate(.3) sepia(.3);
}

*:not(small),
input {
  accent-color: var(--text-color);
  color: var(--darkred);
}

small {
  white-space: nowrap;
  color: var(--lightred);
}

h2:first-of-type {
  margin-top: 0;
}

h2 {
  margin-bottom: .5rem;
  background-color: var(--midred);
  border-radius: 8px;
  padding: .5rem 1rem;
}

#main {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--bg);
  border-radius: 24px;
  box-shadow: inset 0 0 0 6px #923838;
}

#display {
  display: flex;
  align-items: end;
  height: 100px;
  margin: 0 12px;
}

#display > div {
  width: 100%;
  background-color: var(--text-color);
}

#real-time {
  position: relative;
  margin: 0 auto;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  transition: .3s ease-in;
  background-color: var(--bg-display);
}

#real-time::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: attr(data-height px, var(--inner-circle-size));
  height: attr(data-height px, var(--inner-circle-size));
  transition: .3s ease-in;
  border-radius: 50%;
  background-color: transparent;
}

.real-time-container,
.display-container {
  border: solid 4px var(--midred);
  box-shadow: inset 2px 2px 0 2px var(--text-color), inset 0 0 40px var(--text-color);
  border-radius: 12px;
  background-color: var(--bg-display);
  overflow: hidden;
}

.real-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-display);
  height: 300px;
  transition-delay: 1s;
  transition: 1s;
  border-radius: 12px;
}

#real-time.talking {
  background-color: white !important;
  box-shadow: 0 0 calc(var(--circle-size)/2) 0 rgba(255, 255, 255, .3) !important;
}

.silent::after {
  height: var(--inner-circle-size);
  width: var(--inner-circle-size);
}

.silent::after,
.real-time-container:has(.silent) {
  background-color: var(--bg-display) !important;
}

.real-time-container:has(.silent)::after {
  position: absolute;
  content: 'No voice detected';
  color: var(--text-color);
}

.talking::after {
  box-shadow: inset 0 0 0 4px khaki;
}

.talking::after {
  background-color: var(--bg-display) !important;
}

#db-meter {
  height: 1rem;
  display: flex;
  justify-content: space-around;
  color: var(--text-color);
  margin: 8px 0;
}

/* .display-container:has(#display > p:only-child) #db-meter {
  display: none !important;
} */

.input-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: .5rem;
  box-shadow: inset 0px 0px 0 2px var(--midred);
  border-radius: 8px;
  align-items: center;
}

.input-container > div {
  text-align: end;
  font-weight: 700;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  /* appearance: none; */
  color: var(--text-color);
  font-family: 'Jersey 10', sans-serif;
  width: 100%;
  padding: .75rem 1rem;
  border: none;
  background-color: var(--bg-display);
  box-shadow: 0 0 0 2px var(--midred), inset 2px 2px 0 2px var(--text-color);
  border-radius: 8px;
}

select::picker-icon {
  transform: scaleY(.7) translateY(10%);
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border-radius: 12px;
  border: solid 4px white;
  background-color: var(--bg-display);
  box-shadow: inset 2px 2px 0 2px var(--text-color);
  color: var(--text-color);
}

option {
  color: var(--text-color);
}

option:checked {
  background-color: var(--text-color);
  color: var(--bg-display);
}

input[type="range"] {
  appearance: none;
  background: rgb(100, 100, 100);
  height: .25em;
  border-radius: 20px;
  box-shadow: 0 0 0 2px var(--midred);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  background: var(--darkred); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  box-shadow: 0 0 0 .15em var(--lightred);
}

input[type="range"]::-moz-range-thumb {
  width: 1em; /* Set a specific slider handle width */
  height: 1em; /* Slider handle height */
  background: var(--darkred); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  box-shadow: 0 0 0 .15em var(--lightred);
}