:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --circle-size: 160px;
  --inner-circle-size: calc(var(--circle-size) * 0.875);
}

small {
  white-space: nowrap;
  color: dimgray;
}

#display {
  display: flex;
  height: 100px;
  border: solid;
  overflow: hidden;
  border-radius: 8px;
  background-color: lightblue;
}

#display:has(> p:only-child) {
  justify-content: center;
  align-items: center;
}

#display p {
  text-align: center;
  margin: 0;
  padding: 0;
}

#display > div {
  width: 100%;
  background-color: white;
}

#real-time {
  position: relative;
  margin: 0 auto;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  transition: .3s ease-in;
  background-color: white;
  box-shadow: 0 0 calc(var(--circle-size)/2) 0 rgba(0, 0, 0, .3);
}

#real-time::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: attr(data-height px, var(--inner-circle-size));
  height: attr(data-height px, var(--inner-circle-size));
  transition: .3s ease-in;
  border-radius: 50%;
  background-color: lightblue;
}

.real-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  height: 300px;
  transition-delay: 1s;
  transition: 1s;
  border-radius: 8px;
}

.silent::after {
  height: var(--inner-circle-size);
  width: var(--inner-circle-size);
}

.silent::after,
.real-time-container:has(.silent) {
  background-color: brown !important;
}

.talking::after,
.real-time-container:has(.talking) {
  background-color: darkkhaki !important;
}

#db-meter {
  display: flex;
  justify-content: space-around;
}

.input-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: .5rem;
  box-shadow: inset 0px 0px 0 1px rgba(0,0,0,.3);
  border-radius: 8px;
  align-items: center;
}

.input-container > div {
  text-align: end;
}

.input-container small {
  font-weight: 700;
}